body {
    font-family: "微軟正黑體", Bebas Neue, sans-serif;
    background-color: #F2E6E6;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color:#CF9E9E;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: "源樣明體", Bebas Neue;
    color: #804040;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

h2 {
    font-family: "微軟正黑體";
    font-weight: bold;
    font-size: 25px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

section a {
    font-family: "微軟正黑體";
    color: #804040;
    font-weight: bold;
}

img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}


